---
// Component Imports
import Quiz from "../components/Quiz";
import type { QuizType } from "../types/quiz";
import quizData from "../utils/what-color.js";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <style>
            html,
            body {
                font-family: system-ui;
                margin: 0;
            }
            body {
                padding: 2rem;
            }
        </style>
    </head>
    <body>
        <main>
            <Quiz client:visible quiz={quizData as QuizType} />
        </main>
    </body>
</html>
